
     <% if signed_in? %>
     <h1 class="mt-5">Selamat datang</h1>
  <%= link_to "Forum", controller: "posts"%>
  <%= link_to "Bimbingan", controller: "guides"%>
  <%= link_to "SPM", controller: "spm"%>
  <%= button_to 'Sign out', destroy_user_session_url, method: :delete %>
  <% else %>
      <%= button_to 'Sign in', new_user_session_url %>

      <% end %>
