<h1>Kejuruteraan</h1>

 <%= link_to "Kebaikkan Bidang Kejuruteraan", jurutera_bidang_path %>
 <%= link_to "Peluang Pekerjaan",  jurutera_peluang_path %>
 <%= link_to "Persekitaran Perkerjaan", jurutera_persekitaran_path %>
 <%= link_to "Testimoni",  jurutera_testimoni_path %>
 
 <%= button_to 'Back', new_user_session_url %>
