<!DOCTYPE html>
<html lang="en">
  <head>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  

    <title>Youth Affair</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- <script src="https://js.stripe.com/v3/"></script> -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container">
      <nav class="navbar navbar-defualt">
        <div class="container-fuild">
          <div class="navbar-header">
            <%= link_to "Youth affair", root_path, class: "navbar-brand" %>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <% if signed_in? %>
              <li><%= link_to "Forum", controller: "posts"%></li>
              <li><%= link_to "Bimbingan", controller: "guides"%></li>
              <li><%= link_to 'Sign out', destroy_user_session_url, method: :delete %></li>
              <% else %>
              <%= button_to 'Sign in', new_user_session_url %>
              <% end %>
            </ul>

        </div>

      </nav>

    </header>

    <%= yield %>
  </body>
</html>
