<html lang="en">
    <head>
      <div class="application"></div>
      <div class="container"></div>
      <div class="text"></div>
      <h1 class="mt-0">Youth Affair</h1>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title></title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <link rel="stylesheet" type="text/css" href="application.scss">
        <title>Youth Affair</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <script src="https://js.stripe.com/v3/"></script>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

        </head>

  <body>
    
    <!-- Responsive navbar-->
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <div class="container">
         <a class="navbar-brand" href="#"></a>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         <li><a class="dropdown-item" href="#"></a></li>
         <li><a class="dropdown-item" href="#"></a></li>
         <li><hr class="dropdown-divider" /></li>
         <li><a class="dropdown-item" href="#"></a></li>
         </ul>
         </div>
         </div>
         </nav>
         <!-- Page content-->
         <div class="container">
        <div class="text-center mt-5">


    <%= yield %>
  </body>
</html>
